1. Display parametric or implicit

2. TODO: Display the other form of the line.  EX: If parametric, Show the implicit form of the line

3. TODO: Print the Point-Normal Form of the line

4. TODO: For each of the 3 points (ordered pairs)
    - print the points
    - print the distance to the point
    - if the point is on the line - "Say so"

